/* src/custom.css */
/* main.css */
.properties {
  border: blue solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: #3cff00 solid 5px;
}
.row {
  border: #370367 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.entity {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d1d1;
  margin-left: auto;
  margin-right: auto;
}
.term {
  word-break: break-word;
}
.main-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.main-header h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 32px;
  text-align: center;
}
.main-header a {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.header {
  font-size: 18px;
  padding-left: 10px;
}
div .bringDown {
  color: #4f4f4f;
}
.vocab {
  color: #4f4f4f;
  font-size: 0.7rem;
}
.vocab::after {
  content: ":";
}
.language {
  color: #4f4f4f;
  font-size: 0.7rem;
  margin-left: 4px;
}
.datatype {
  color: #4f4f4f;
  font-size: 0.5rem;
  margin-left: 4px;
}
.BlankNode a {
  color: #4f4f4f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.img-container {
  margin-left: auto;
  margin-right: auto;
}
.img-container img {
  max-width: 100%;
}
h2[data-v-3660c069] {
  color: lightcoral;
}

/* src/main.css */
